.map-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}
.Last-Activities-Friends
{
    padding: 5%;
}
a.home-card-container{
    padding:0.5rem;
}

.width-100{
    width: 100%;
}
/*.home-page-cards{*/
/*    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;*/
/*}*/
