.navigation {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.navigation .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
}

.navigation .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navigation .nav-links-container .nav-link {
    padding: 10px 15px;
    cursor: pointer;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    z-index: 1005;
    width: 100%;
    height: fit-content;
    background-color: blue;
}

.MuiToolbar-root {
    padding: 1rem 0;
}
.MuiGrid-item {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.search-bar-business {
    background-color: white;
    border: 0.2rem solid black;
    padding: 0.6rem;
    border-radius: 2rem;
}

.logo-icon {
    width: 4rem;
    padding: 0 0.3rem;
}
.MuiBottomNavigation-root {
    background-color: #ECEAF4 !important;
}
